{{- $currentPage := . -}}
{{- $languages := .Site.Languages -}}
{{- $defaultLanguageCode := (index .Sites 0).Language.Lang -}}
{{- $currentPagePath := strings.TrimPrefix .Site.Home.RelPermalink .RelPermalink -}}
{{- if gt (len $languages) 1 -}}
    {{- $currentLanguageCode := .Language.Lang -}}
    <li id="i18n-switch">
        {{ partial "helper/icon" "language" }}
        <select name="language" title="language" onchange="window.location.href = this.selectedOptions[0].value">
            {{- range $language := $languages -}}
                {{- $targetSite := index (where $currentPage.Sites "Language.Lang" $language.Lang) 0 -}}
                {{- $targetPage := index (where $currentPage.AllTranslations "Language.Lang" $language.Lang) 0 -}}
                {{- $targetURL := "" -}}
                {{- if eq $language.Lang $currentLanguageCode -}}
                    {{- $targetURL = $currentPage.RelPermalink -}}
                {{- else if $targetPage -}}
                    {{- $targetURL = $targetPage.RelPermalink -}}
                {{- else if and $targetSite (ne $currentLanguageCode $defaultLanguageCode) -}}
                    {{- $targetURL = printf "%s%s" $targetSite.Home.RelPermalink $currentPagePath -}}
                {{- else if $targetSite -}}
                    {{- $targetURL = $targetSite.Home.RelPermalink -}}
                {{- end -}}
                <option value="{{ $targetURL }}" {{ if eq $language.Lang $currentLanguageCode }}selected{{ end }}>
                    {{- or $language.LanguageName ($language.Lang | upper) -}}
                </option>
            {{- end -}}
        </select>
    </li>
{{- end -}}
