{{ $page := . }}
{{ $related := (where (.Site.RegularPages.Related .) "Params.hidden" "!=" true) | first 5 }}
{{ with $related }}
<aside class="related-content--wrapper">
    <h2 class="section-title">{{ if eq $page.Site.Language.Lang "ko" }}관련 콘텐츠{{ else if eq $page.Site.Language.Lang "ja" }}Related content{{ else }}{{ T "article.relatedContent" }}{{ end }}</h2>
    <div class="related-content">
        <div class="flex article-list--tile">
            {{ range . }}
                {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "articleList") }}
            {{ end }}
        </div>
    </div>
</aside>
{{ end }}
