<div class="article-details">
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>
    
        {{ with .Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{- .Date.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}

    {{ $translations := where .AllTranslations "Language.Lang" "ne" .Language.Lang }}
    {{ $defaultLanguageCode := (index .Sites 0).Language.Lang }}
    {{ if and (eq (len $translations) 0) (ne .Language.Lang $defaultLanguageCode) }}
        {{ $defaultSite := index (where .Sites "Language.Lang" $defaultLanguageCode) 0 }}
        {{ if $defaultSite }}
            {{ $currentPagePath := strings.TrimPrefix .Site.Home.RelPermalink .RelPermalink }}
            {{ $translations = slice (dict "Permalink" (printf "%s%s" $defaultSite.Home.RelPermalink $currentPagePath) "Language" $defaultSite.Language) }}
        {{ end }}
    {{ end }}
    {{ if gt (len $translations) 0 }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range $translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
