<script type="text/javascript">
    trends.embed.renderExploreWidget(
        "TIMESERIES",
        {
            comparisonItem: [
                { keyword: "angular", geo: "", time: "today 12-m" },
                { keyword: "react", geo: "", time: "today 12-m" },
                { keyword: "vue", geo: "", time: "today 12-m" },
            ],
            category: 0,
            property: "",
        },
        { exploreQuery: "q=angular,react,vue&date=today 12-m,today 12-m,today 12-m", guestPath: "https://trends.google.com:443/trends/embed/" }
    );
</script>
