<script type="text/javascript">
    trends.embed.renderExploreWidget(
        "TIMESERIES",
        {
            comparisonItem: [
                { keyword: "go programming", geo: "", time: "today 5-y" },
                { keyword: "rust programming", geo: "", time: "today 5-y" },
            ],
            category: 0,
            property: "",
        },
        { exploreQuery: "date=today%205-y&q=go%20programming,rust%20programming", guestPath: "https://trends.google.com:443/trends/embed/" }
    );
</script>
