<script type="text/javascript">
    trends.embed.renderExploreWidget(
        "TIMESERIES",
        {
            comparisonItem: [
                { keyword: "cordova", geo: "", time: "today 5-y" },
                { keyword: "ionic", geo: "", time: "today 5-y" },
                { keyword: "xamarin", geo: "", time: "today 5-y" },
                { keyword: "nativescript", geo: "", time: "today 5-y" },
                { keyword: "react native", geo: "", time: "today 5-y" },
            ],
            category: 0,
            property: "",
        },
        { exploreQuery: "date=today%205-y&q=cordova,ionic,xamarin,nativescript,react%20native", guestPath: "https://trends.google.com:443/trends/embed/" }
    );
</script>
